b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
build
typings

.idea

# WF_API+ auto-gen files/dirs
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Python
*.py[cod]
__pycache__/
__pycache__
.pyc

wfconfig.py

/docs/_build